<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./images/toto.png" rel="shortcut icon" type="image/x-icon">
    <link href="./css/reset.css" rel="stylesheet" type="text/css">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <script src="./script/jquer.min.js" defer type="text/javascript"></script>
    <script src="./script/script.js" defer type="text/javascript"></script>
    <title>토춘쿠키</title>
</head>
<body>
    <div id="fortune-wrap">
        <div class="fortune">
            <div class="fortxt">
                반가와요
            </div>
            <div class="formove">
                <img src="images/toto.png" alt="토끼">
            </div>
            <button class="forbtn">
                운세보기
            </button>
        </div>
    </div>
</body>
</html>